// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Transformicon Color:
$navicon-color: $neg;

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

.constrain {
	max-width: 1500px;
	margin: 0 auto;
}

a {
	color: $action;
	text-decoration: none;
	@include active { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

// ------------------------------------------------------------
// Navigation module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

.menu-btn {
	background-color: transparentize($neg, 0.3);
	background-image: url('../img/menu-btn.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
	height: 70px;
	width: 70px;

	position: absolute;
	right: -50px;
	top: 29px;

	-webkit-transition: background-color 0.1s ease-in-out;
	-moz-transition: background-color 0.1s ease-in-out;
	-ms-transition: background-color 0.1s ease-in-out;
	-o-transition: background-color 0.1s ease-in-out;
	transition: background-color 0.1s ease-in-out;

	&:hover, &:active {
		background-color: transparentize($primary, 0.3);
	}
	display: none;
	@include break($d) {display: block;}
}

#call-now {
	text-shadow: 0 0 5px $pos;
}

.divider {
	border-right: 1px solid #fff;
	height: 36px;
	margin-right: 8px;
}

// .landing {
// 	max-width: 600px;
// 	margin: 100px auto 0;
// }

// .landing-logo {
// 	max-width: 300px;
// 	margin: 0 auto;
// 	img {
// 		width: 100%;
// 	}
// }

// .landing-choices {
// 	@include clearfix;
// 	margin-top: 50px;
// 	li {
// 		float: left;
// 		@media screen and (max-width: $d) {
// 		.choice-btn{width: 90%;}
// 			float: none;
// 			clear: both;
// 		}
// 		.choice-btn {
// 			text-align: center;
// 			display: block;
// 			border: 1px solid $primary;
// 			padding: 10px 18px;
// 			margin: 20px;
// 			text-transform: uppercase;
// 			&:hover {
// 				background-color: $primary;
// 				color: #fff;
// 			}
// 		}
// 	}
// }

.pagehead {

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

	// overflow-x: hidden;

.dropdown {
	position: absolute;
	right: -34px;
	top: 110px;
	text-align: right;
	z-index: 5;

	a {
		display: block;
		color: $pos;
		padding: 5px 10px;
	}
	li {
		background-color: transparentize($neg, 0.3);

		-webkit-transition: background-color 0.1s ease-in-out;
		-moz-transition: background-color 0.1s ease-in-out;
		-ms-transition: background-color 0.1s ease-in-out;
		-o-transition: background-color 0.1s ease-in-out;
		transition: background-color 0.1s ease-in-out;

		&:hover, &:active {
			background-color: transparentize($primary, 0.3);
		}
	}

}

	.row {
		padding-top: 15px !important;
	}

	.logo {
		display: block;
		float: left;
		margin: 12px 0 25px;
		max-width: 50%;
		@include break($b) {
			max-width: 20%;
		}
		img {
			width: 100%;
		}
		@include break($d) {
			width: 25%;
			img {
				max-width: 300px;
			}
		}
	}

	#nav-toggle {
		float: right;
		margin: 0;
		padding-bottom: 23px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 0;
		top: 10px;
		position: relative;
		@include break($d) {
			display: none;
		}
	}

	.nav-collapse {
		@include clearfix;
		clear: both;

		font-weight: lighter;
		padding-bottom: 15px;
		position: relative;
		clear: both;
		margin: 0 -500%;
		padding: 0 500%;
		small {
			text-align: center;
			display: block;
		}
		ul {
		text-transform: uppercase;
		text-align: center;
			@include clearfix;
			margin: 0; // cancel out global ul li style
			@include break($d) {
				width: 100%;
				float: left;
				clear: none;
			}

			li {
				float: right;
				width: 100%;
				margin: 0;
				list-style-type: none;

				small a {
					background-color: transparent;
					display: block;
					color: $primary;
					padding: 0;
					margin: 10px 0 0;
					font-size: em-font(25px);
					&:hover {
						background-color: transparent;
						color: lighten($primary, 10%);
					}
				}
				@include break($b) {
					width: 33%;
					&.phonecall {
						width: 100%;
						clear: both;
					}
				} 
				@include break($d) {
					width: auto;
					margin: 0 1%;
					small a {
						font-size: em-font(15px);
						display: inline;
					}
				}

				a {

					@extend .sans;
					font-size: em-font(15px);
					display: inline-block;
					width: 100%;
					padding: 10px;
					font-weight: thin;
					letter-spacing: 1px;
					color: $pos;
					background-color: transparentize($neg, 0.3);
					margin-top: 15px;
					transition: background-color 0.2s ease-in-out;
					-moz-transition: background-color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out;

					&:hover, &:active {
						color: $pos;
						background-color: transparentize($primary, 0.3);
					}
				}
			}
		}
		@include break($d) {
			width: 70%;
			margin: 15px 0 0 0;
			padding: 0;
			clear: none;
			background-color: transparent;
			float: right;
			padding-bottom: 0;
			//height: 60px;
			// clear: both;
			// margin: 0 -500%;
	  		//padding: 0 500%;
	  		small {
				text-align: right;
				font-size: em-font(12px);
				margin-right: 5px;
	  		}
	  		ul li a {
	  			margin-top: 5px;
	  		}
		}
	}
}

#about-us {
	@include break($d) {
		padding-top: 75px;
		position: relative;
		top: -30px;
	}
}

.logomark {
	width: 100px;
	float: left;
	position: absolute;
	left: -62px;
	top: -1px;
	a {
		display: block;
    	padding: 5px;
    	padding-right: 7px;
	}
	img {
		max-width: 100%;
	}
}

.banner {
    background-color: transparentize($primary, 0.05);
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 100;
    display: none;
    font-size: $size10;
    @include break($d) {
    	display: block;
    }
    .row {
    	padding-top: 0;
    	padding-bottom: 0; 
    }
    ul {
    	float: left;
    	border-left: 1px solid #fff;
    	li {
    		float: left;
    	
    	}
    }

}
    .banner li a {
    	display: block;
    	text-transform: uppercase;
        color: #fff;
        padding: 10px;
    }
    .banner a:hover {
        background-color: transparentize($neg, 0.6);
    }



.banner--clone {

    /* Required styles */
    position: fixed;
    top: 0;
    left: 0;



    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

}

.banner--stick {

    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
}


// ------------------------------------------------------------
// END Navigation module
// ------------------------------------------------------------


.main-cover {
	background-image: url(../img/main.jpg); 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: scroll;
		background-position: center;
	overflow: hidden;

	min-height: 350px;
	position: relative;
	margin-bottom: 30px;
	border-top: 5px solid $primary;

	@include break($b) {
	min-height: 400px;
		
	}
	@include break($d) {
		min-height: 700px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: scroll;
		background-position: center;
	}
	@include break($grande) {
		background-size: 1500px;
	}
}

.is-cms .main-cover {
	@include break($b) {background-attachment: scroll;}
}

.hero-headline {
	color: $pos;
	display: inline-block;
	//REMOVE FOR NOW
	display: none;
	padding: 15px;
	font-weight: lighter;
	font-family: 'Helvetica Neue', Helvetica, 'Futura', Arial, sans-serif;
	font-size: em-font(25px);
	letter-spacing: 1px;
	position: relative;
	top: 165px;
	text-shadow: 0 0 5px #000;

	@include break($d) {
		font-size: em-font(45px);
		top: 260px;
	}

	background-color: transparentize($primary, 0.3);
	&:before {
	  content: "";
	  position: absolute;
	  background: transparentize($primary, 0.3);  /* Match the background */
	  top: 0;
	  bottom: 0;
	  width: 9999px;   /* some huge width */
	} 
	&:before {
	  right: 100%;
	}

}

.editable-gallery {
	.fancybox {
		width: 40%;
		@include break($c) {width: 20%;}
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		img {
			max-width: 100%;
		}
		@include break($c) {

		}
	}
}

.tiles {
	display: none;
	position: relative;
	@include break($d) {
		display: block;
		margin-top: -250px;
	}
}


.tile {
	position: absolute;
	&.tile-1 {
	  top: 0px;
	  left: 120px;
	  z-index: 1;
	}
	&.tile-2 {
	  top: 100px;
	  left: 36px;
	}
	&.tile-3 {
	  top: 60px;
	  left: 180px;
	}
	&.tile-4 {
	  top: 240px;
	  left: 170px;
	}
	&.tile-5 {
	  top: 290px;
	  left: 33px;
	}
	&.tile-6 {
	  top: 430px;
	  left: 190px;
	}
	&.tile-7 {
	  top: 490px;
	  left: 65px;
	}
	&.tile-8 {
	  top: 550px;
	  left: 100px;
	}
}

.tile-ani1 {
	position: relative;
	animation-name:ani1;
	animation-duration:3s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	/* Firefox: */
	-moz-animation-name:ani1;
	-moz-animation-duration:3s;
	-moz-animation-timing-function:linear;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:ani1;
	-webkit-animation-duration:3s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}

@keyframes ani1
{
	0% {top:0px;}
	100% {top:10px}
}

@-moz-keyframes ani1 /* Firefox */
{
	0% {top:0px;}
	100% {top:10px}
}

@-webkit-keyframes ani1 /* Safari and Chrome */
{
	0% {top:0px;}
	100% {top:10px}
}

.tile-ani2 {
	position: relative;
	animation-name:ani2;
	animation-duration:2s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	/* Firefox: */
	-moz-animation-name:ani2;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:linear;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:ani2;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}

@keyframes ani2
{
	0% {bottom:0px;}
	100% {bottom:5px}
}

@-moz-keyframes ani2 /* Firefox */
{
	0% {bottom:0px;}
	100% {bottom:5px}
}

@-webkit-keyframes ani2 /* Safari and Chrome */
{
	0% {bottom:0px;}
	100% {bottom:5px}
}

.tile-ani3 {
	position: relative;
	animation-name:ani3;
	animation-duration:2s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	animation-play-state:running;
	/* Firefox: */
	-moz-animation-name:ani3;
	-moz-animation-duration:2s;
	-moz-animation-timing-function:linear;
	-moz-animation-iteration-count:infinite;
	-moz-animation-direction:alternate;
	-moz-animation-play-state:running;
	/* Safari and Chrome: */
	-webkit-animation-name:ani3;
	-webkit-animation-duration:2s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-play-state:running;
}

@keyframes ani3
{
	0% {bottom:0px;}
	100% {bottom:7px}
}

@-moz-keyframes ani3 /* Firefox */
{
	0% {bottom:0px;}
	100% {bottom:7px}
}

@-webkit-keyframes ani3 /* Safari and Chrome */
{
	0% {bottom:0px;}
	100% {bottom:7px}
}

/*   END tile ANIMATIONS  */

.btn {
	color: $pos;
	display: inline-block;
	padding: 10px;
	background-color: $primary;
	position: relative;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
	text-transform: uppercase;
	top: 0px;
	left: 0px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	&:after {
		content: "";
		background-color: #ccc;
		position: absolute;
		z-index: -1;
		top: -5px;
		left: -5px;
		bottom: 5px;
		right: 5px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	}
	&:hover {
		color: $pos;
		top: -5px;
		left: -5px;
		&:after {
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
}

.typeset {
	
	p {
		margin-bottom: 25px;
	}

	ul, ol {
		margin-left: 15px;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
		@include break($b) {
			margin: 0 0 30px 0;
			clear: both;
			width: 100%;
		}
	}
	.full-width {
		margin: 0 0 30px 0;
		clear: both;
		width: 100%;
	}
	.right {
		@include break($b) {
			float: right;
			margin: 0 0 15px 30px;
			width: 40%;
		}
	}
	.left {
		@include break($b) {
			float: left;
			margin: 0 30px 15px 0;
			width: 40%;
		}
	}
}


blockquote {
	margin-bottom: 10px;
	padding: 10px 0;
	//background-color: lighten($secondary, 25%);
	//border: 1px solid $primary;
	border-bottom-width: 8px;
	color: $neg;
	font-size: $size4;
	.quote {
		font-size: em-font(9px);
		font-style: italic !important;
		&:before {
			content: "“";
			font-size: em-font(20px);
			font-weight: bold;
		}
		&:after {
			content: "”";
			font-size: em-font(20px);
			font-weight: bold;
		}
	}
	.source {
		color: $primary;
		font-size: em-font(8px);
		margin-top: 10px;
	}
}


////////////
// LAYOUT //
////////////

.row {
	padding-top: 35px;
	padding-bottom: 20px;
}

.remodal {
	.row {
		padding: 0;
		width: 100%;
		min-width: 100%;
	}
	h1 {
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $neg;
		font-size: $size2 !important;
		padding-right: 45px;
	}
	h4 {
		font-size: $size5 !important;	
	}
	p {
		padding-bottom: 10px;
	}
}

.typeset ul.acc {
	margin-left: 0;
	li {
		background-color: lighten($secondary, 15%);
	}
}

.acc li {
	list-style-type: none;
}

.acc li .acc-head {
	cursor: pointer;
	position: relative;
	padding: 20px;
}

.acc li .acc-head i {
	position: absolute;
	top: 22px;
	right: 15px;
}

.acc-panel {
	padding: 0px 20px 10px;
}

#portfolio {
	
}

.portfolio-window {
	//max-height: 650px;
	overflow: hidden;
	position: relative;
}

.controllers {
	position: absolute;
	width: 15%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 10;
	margin: 0;
	padding: 0;
	display: none;
	@include break($d) {
		display: block;
	}
	&:hover {
		background-color: transparentize($pos, 0.7);
		&:after {
			font-size: em-font(80px);
			color: $primary;
			font-weight: bold;
			text-shadow: 0 0 10px $pos;
		}
	}
	&.prev {
		left: 0;
		&:hover {
			&:after {
				content: "«";
			}
		}
	}
	&.next {
		right: 0;
		&:hover {
			&:after {
				content: "»";
			}
		}
	}
}

#our-portfolio {
	padding-top: 60px;
}

#testimonials {
	padding-top: 60px;
	// border-top: 3px $primary solid;
}

#current-projects {
	padding-top:60px;
	padding-bottom: 40px;
	.btn {
		font-size: em-font(10px);
	}
	.next-prev {

		.next, .prev {
			font-size: em-font(30px);
			margin-top: -10px;
			position: absolute;
			right: 0;
			top: 0;
		}
		.prev {
			right: 25px;
		}
	}
}

#descript1, #descript2 {
	position: relative;
	h5 {
		max-width: 80%;
	}
}

.next-prev {

	.next, .prev {
		display: none;
		@include break($b) {
			display: inline-block;
		}
		font-size: em-font(40px);
		color: $primary;
		font-weight: bold;
		text-shadow: 0 0 10px $pos;
		margin: 0;
		&:hover {
			color: lighten($primary, 10%);
		}
	}
}

#current1, #current2 {
	max-height: 350px;
	overflow: hidden;
	@include break($b) {
		margin-bottom: 25px;
	}
}

.project {
	overflow: hidden;
	position: relative;
	.controllers {
		top: -15px;
	}
}

#description-1, #description-2 {
	margin-bottom: 25px;
}

.review {
	margin-bottom: 20px;
	h1 {
		font-size: $size6;
		color: $primary;
	}
	h2 {
		text-transform: normal;
		margin-bottom: 10px;
	}
}

.btn-wrap {
	margin-bottom: 20px;
	@include break($d) {
		margin-bottom: 50px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

}

.greybg {
	// padding: 30px 0 0; 
	background-color: darken($pos, 10%);
}

.redbg {
	background-color: $primary;
	background-image: url('../img/darkcut-p.png');
	background-size: 100%;
	background-position: center center;
}

.contact-details {
	text-align: center;
	color: $pos;
	@include break($d) {
		text-align: right;
	}
	a {
		color: $pos;
		@include active {
			color: darken($pos, 10%);
		}
	}
}

.footer-logo {
	max-width: 250px;
	margin: 0 auto 20px;
	display: inherit;
}

#clients {
	padding-top: 30px;
}

.client {
	position: relative;
	@include break($d) {
		overflow: hidden;
		max-height: 630px;
		h1 {
			z-index: 5;
			position: relative;
			//background-color: darken($pos, 10%);
		}
		.parallax-item {
			position: relative;
			
			img.colab {
				margin-top: 60px; //425
			}
			img.building {
				margin-top: 130px; //425
			}
		}
	}
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  max-height: 620px;
  img {width: 100%;}
}
.swipe-wrap {
  margin: 0 !important;
  overflow: hidden;
  position: relative;
}
.swipe-wrap > li {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap li {
	display: block;
}

.swipe-wrap > a {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap a {
  display: block;
}

// @media screen and (-webkit-min-device-pixel-ratio:0) {
// 	.client .parallax-item img.colab {
// 		@include break($d) {margin-top: 250px;}
// 	}
// 	.client .parallax-item img.building {
// 		@include break($d) {margin-top: 270px;}
// 	}
// }

.is-cms .parallax-item {
	margin-top: 0;
	img {
		margin-top: -30px;
	}
}

.is-cms .remodal-overlay {
	opacity: 1 !important;
	display: block !important;
	position: static !important;
}

.section-head {
	font-size: 1.625em;
	color: $neg;
	//text-transform: uppercase;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
