.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  img {width: 100%;}
}
.swipe-wrap {
  margin: 0 !important;
  overflow: hidden;
  position: relative;
}
.swipe-wrap > li {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap li {
	display: block;
}

.swipe-wrap > a {
  float:left;
  width:100%;
  position: relative;
}
.swipe-wrap a {
  display: block;
}