// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Transformicon Color:
$navicon-color: $neg;

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include break-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
	&:not(>img) {
		@include force-wrap;
	}
}

// ------------------------------------------------------------
// Navigation module
// ------------------------------------------------------------

// Place your BEM/SMACSS style .scss modules in the modules folder

.pagehead {

	background-color: transparent;
// needs latest Compass, add '@import "compass"' to your scss
@include filter-gradient(#ffffff, #ffffff, vertical); // IE6-9
@include background-image(linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%));

	overflow-x: hidden;

	.logo {
		display: block;
		float: left;
		margin: 12px 0 25px;
		max-width: 50%;
		img {
			width: 100%;
		}
		@include break($d) {
			width: 25%;
			img {
				max-width: 300px;
			}
		}
	}

	#nav-toggle {
		float: right;
		margin: 0;
		padding-bottom: 23px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 0;
		@include break($d) {
			display: none;
		}
	}

	.nav-collapse {
		@include clearfix;
		clear: both;

		font-weight: lighter;
		padding-bottom: 15px;
		position: relative;
		clear: both;
		margin: 0 -500%;
		padding: 0 500%;
		small {
			text-align: center;
			display: block;
		}
		ul {
		text-transform: uppercase;
		text-align: center;
			@include clearfix;
			margin: 0; // cancel out global ul li style
			@include break($d) {
				width: 100%;
				float: left;
				clear: none;
			}

			li {
				float: right;
				width: 100%;
				margin: 0;
				list-style-type: none;

				@include break($d) {
					width: auto;
					margin: 0 1%;
				}

				a {

					@extend .sans;
					font-size: em-font(15px);
					display: inline-block;
					width: 100%;
					padding: 10px;
					font-weight: thin;
					letter-spacing: 1px;
					color: $pos;
					background-color: transparentize($neg, 0.3);
					margin-top: 15px;
					transition: background-color 0.2s ease-in-out;
					-moz-transition: background-color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out;

					&:hover, &:active {
						color: $pos;
						background-color: transparentize($primary, 0.3);
					}
				}
			}
		}
		@include break($d) {
			width: 70%;
			margin: 15px 0 0 0;
			padding: 0;
			clear: none;
			background-color: transparent;
			float: right;
			padding-bottom: 0;
			//height: 60px;
			// clear: both;
			// margin: 0 -500%;
	  		//padding: 0 500%;
	  		small {
				text-align: right;
				font-size: em-font(12px);
				margin-right: 5px;
	  		}
	  		ul li a {
	  			margin-top: 5px;
	  		}
		}
	}
}

.main-cover {
	background: url(../img/main.jpg) no-repeat; 
	background-position: -600px -50px;
	margin-bottom: 30px;
	border-bottom: 2px solid $primary;
	@include break($b) {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-attachment: fixed;
		background-position: center -60px;
	}
	min-height: 700px;
	position: relative;

	// .row-bottom {
	// 	position: relative;
	// 	width: 100%;
	// 	@include break($b) {
	// 		bottom: 20px;
	// 		position: absolute;
	// 	}
	// }
}

.editable-gallery {
	.fancybox {
		width: 40%;
		@include break($c) {width: 20%;}
		margin-bottom: 10px;
	}
	a {
		display: inline-block;
		img {
			max-width: 100%;
		}
		@include break($c) {

		}
	}
}

.tiles {
	display: none;
	@include break($d) {
		display: block;
		margin-top: -250px;
	}
}

.typeset {
	section {
		margin-bottom: 50px;
	}
	.btn {
		color: $pos;
		display: inline-block;
		padding: 10px;
		background-color: $primary;
		position: relative;
		margin-right: 15px;
		margin-bottom: 10px;
		text-transform: uppercase;
		@include transition(all, 1s, ease-in-out);
		top: 0;
		left: 0;
		&:after {
			content: "";
			background-color: #ccc;
			position: absolute;
			z-index: -1;
			top: -5px;
			left: -5px;
			bottom: 5px;
			right: 5px;
		}
		&:hover {
			top: -5px;
			left: -5px;
			&:after {
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}
		}
	}
	
	p {
		margin-bottom: 25px !important;
	}

	ul, ol {
		margin-left: 15px;
	}

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 15px;
		@include break($b) {
			margin: 0 0 30px 0;
			clear: both;
			width: 100%;
		}
	}
	.full-width {
		margin: 0 0 30px 0;
		clear: both;
		width: 100%;
	}
	.right {

		@include break($b) {
			float: right;
			margin: 0 0 15px 30px;
			width: 40%;
		}
	}
	.left {
		@include break($b) {
			float: left;
			margin: 0 30px 15px 0;
			width: 40%;
		}
	}

	blockquote {
		padding: 5%;
		clear: both;
		background-color: $secondary;
		color: $pos;
		@include break($b) {
			clear: none;
			float: right;
		}
		p {
			&:before {
				content: "“ ";
			}
			&:after {
				content: " ”";	
			}
		}
		i {
			font-size: em-font(10px);
		}
	}
}
////////////
// LAYOUT //
////////////

.row.typeset {
	padding-top: 20px;
	padding-bottom: 20px;
}

.hero {

}

.typeset ul.acc {
	margin-left: 0;
	li {
		background-color: lighten($secondary, 15%);
	}
}

.acc li {
	list-style-type: none;
}

.acc li .acc-head {
	cursor: pointer;
	position: relative;
	padding: 20px;
}

.acc li .acc-head i {
	position: absolute;
	top: 22px;
	right: 15px;
}

.acc-panel {
	padding: 0px 20px 10px;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
