@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.row, .gutter-grid {
  *zoom: 1;
}
.row:after, .gutter-grid:after {
  content: "";
  display: table;
  clear: both;
}

/*! Remodal - v0.1.6 - 2014-05-16
 * https://github.com/VodkaBears/remodal
 * Copyright (c) 2014 VodkaBears; */
/* ==========================================================================
   Remodal necessary styles
   ========================================================================== */
/* Hide scroll bar */
html.remodal_lock, body.remodal_lock {
  overflow: hidden;
}

/* Anti FOUC */
.remodal, [data-remodal-id] {
  visibility: hidden;
}

/* Overlay necessary styles */
.remodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}

.remodal-overlay:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  content: '';
}

/* Fix iPad, iPhone glitches */
.remodal-overlay > * {
  -webkit-transform: translateZ(0px);
}

/* Modal dialog necessary styles */
.remodal {
  position: relative;
  display: inline-block;
}

/* ==========================================================================
   Remodal default theme
   ========================================================================== */
/* Default theme font */
/*@import url(http://fonts.googleapis.com/css?family=Exo+2:700,400&subset=latin,cyrillic);

.remodal, .remodal * {
    font-family: 'Exo 2', sans-serif;
}*/
/* Background for effects */
.remodal-bg {
  -webkit-transition: -webkit-filter 0.2s linear;
  -moz-transition: -moz-filter 0.2s linear;
  -o-transition: -o-filter 0.2s linear;
  transition: filter 0.2s linear;
}

body.remodal_active .remodal-bg {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

/* Overlay default theme styles */
.remodal-overlay {
  opacity: 0;
  background: rgba(34, 34, 34, 0.8);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

body.remodal_active .remodal-overlay {
  opacity: 1;
}

/* Modal dialog default theme styles */
.remodal {
  width: 100%;
  min-height: 100%;
  padding: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  background: #f4f4f4;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 0px 8px #171a24;
  box-shadow: 0px 0px 8px #171a24;
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: -webkit-transform 0.2s linear;
  -moz-transition: -moz-transform 0.2s linear;
  -o-transition: -o-transform 0.2s linear;
  transition: transform 0.2s linear;
}

body.remodal_active .remodal {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/* Modal dialog vertical align  */
.remodal, .remodal-overlay:after {
  vertical-align: middle;
}

/* Close button */
.remodal-close {
  position: absolute;
  top: 35px;
  right: 35px;
  text-align: center;
  width: 40px;
  height: 40px;
  text-decoration: none;
  /*    -webkit-border-radius: 50%;
      border-radius: 50%;*/
  border: 1px solid #c30016;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.remodal-close:after {
  display: block;
  margin-top: 5px;
  font-size: 40px;
  font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;
  font-weight: lighter !important;
  content: "×";
  line-height: 28px;
  cursor: pointer;
  text-decoration: none;
  color: #c30016;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.remodal-close:hover, .remodal-close:active {
  background: #c30016;
}

.remodal-close:hover.remodal-close:after, .remodal-close:active.remodal-close:after {
  color: #f4f4f4;
}

/* Dialog buttons */
/* Media queries
   ========================================================================== */
@media only screen and (min-width: 40.063em) {
  .remodal {
    max-width: 700px;
    margin: 20px auto;
    min-height: 0;
    /*
            -webkit-border-radius: 6px;
            border-radius: 6px;*/
  }
}
/*! responsive-nav.js 1.0.32 by @viljamis */
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe img {
  width: 100%;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > a {
  float: left;
  width: 100%;
  position: relative;
}

.swipe-wrap a {
  display: block;
}

button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
  outline: none;
}
button span {
  display: block;
}

.lines-button {
  padding: 1rem 0.5rem;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.2857143rem;
  /* */
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
  width: 2rem;
  height: 0.2857143rem;
  background: #000;
  border-radius: 0.1428571rem;
  transition: 0.3s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 2rem;
  height: 0.2857143rem;
  background: #000;
  border-radius: 0.1428571rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.1428571rem center;
  transform-origin: 0.1428571rem center;
}
.lines:before {
  top: 0.5rem;
}
.lines:after {
  top: -0.5rem;
}

.lines-button:hover .lines:before {
  top: 0.5714286rem;
}
.lines-button:hover .lines:after {
  top: -0.5714286rem;
}

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 2rem;
}
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

.lines-button.x2 .lines {
  transition: background .3s .5s ease;
}
.lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top .3s .6s ease, -webkit-transform .3s ease;
  transition: top .3s .6s ease, transform .3s ease;
}

.lines-button.x2.close .lines {
  transition: background .3s 0s ease;
  background: transparent;
}
.lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
  transition: top .3s ease, -webkit-transform .3s .5s ease;
  transition: top .3s ease, transform .3s .5s ease;
  top: 0;
  width: 2rem;
}
.lines-button.x2.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x2.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  background: #fff;
  color: #777;
}

.constrain {
  max-width: 1500px;
  margin: 0 auto;
}

a {
  color: #c30016;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #f6001c;
}
a:not(> img) {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

.menu-btn {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url("../img/menu-btn.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 70px;
  width: 70px;
  position: absolute;
  right: -50px;
  top: 29px;
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  display: none;
}
.menu-btn:hover, .menu-btn:active {
  background-color: rgba(195, 0, 22, 0.7);
}
.lt-ie9 .menu-btn {
  display: block;
}
@media screen and (min-width: 960px) {
  .menu-btn {
    display: block;
  }
}

#call-now {
  text-shadow: 0 0 5px #fff;
}

.divider {
  border-right: 1px solid #fff;
  height: 36px;
  margin-right: 8px;
}

.pagehead {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-8 */
}
.pagehead .dropdown {
  position: absolute;
  right: -34px;
  top: 110px;
  text-align: right;
  z-index: 5;
}
.pagehead .dropdown a {
  display: block;
  color: #fff;
  padding: 5px 10px;
}
.pagehead .dropdown li {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -ms-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.pagehead .dropdown li:hover, .pagehead .dropdown li:active {
  background-color: rgba(195, 0, 22, 0.7);
}
.pagehead .row {
  padding-top: 15px !important;
}
.pagehead .logo {
  display: block;
  float: left;
  margin: 12px 0 25px;
  max-width: 50%;
}
.lt-ie9 .pagehead .logo {
  max-width: 20%;
}
@media screen and (min-width: 420px) {
  .pagehead .logo {
    max-width: 20%;
  }
}
.pagehead .logo img {
  width: 100%;
}
.lt-ie9 .pagehead .logo {
  width: 25%;
}
.lt-ie9 .pagehead .logo img {
  max-width: 300px;
}
@media screen and (min-width: 960px) {
  .pagehead .logo {
    width: 25%;
  }
  .pagehead .logo img {
    max-width: 300px;
  }
}
.pagehead #nav-toggle {
  float: right;
  margin: 0;
  padding-bottom: 23px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0;
  top: 10px;
  position: relative;
}
.lt-ie9 .pagehead #nav-toggle {
  display: none;
}
@media screen and (min-width: 960px) {
  .pagehead #nav-toggle {
    display: none;
  }
}
.pagehead .nav-collapse {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  font-weight: lighter;
  padding-bottom: 15px;
  position: relative;
  clear: both;
  margin: 0 -500%;
  padding: 0 500%;
}
.pagehead .nav-collapse small {
  text-align: center;
  display: block;
}
.pagehead .nav-collapse ul {
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  *zoom: 1;
  margin: 0;
}
.lt-ie9 .pagehead .nav-collapse ul {
  width: 100%;
  float: left;
  clear: none;
}
@media screen and (min-width: 960px) {
  .pagehead .nav-collapse ul {
    width: 100%;
    float: left;
    clear: none;
  }
}
.pagehead .nav-collapse ul li {
  float: right;
  width: 100%;
  margin: 0;
  list-style-type: none;
}
.pagehead .nav-collapse ul li small a {
  background-color: transparent;
  display: block;
  color: #c30016;
  padding: 0;
  margin: 10px 0 0;
  font-size: 1.5625em;
}
.pagehead .nav-collapse ul li small a:hover {
  background-color: transparent;
  color: #f6001c;
}
.lt-ie9 .pagehead .nav-collapse ul li {
  width: 33%;
}
.lt-ie9 .pagehead .nav-collapse ul li.phonecall {
  width: 100%;
  clear: both;
}
@media screen and (min-width: 420px) {
  .pagehead .nav-collapse ul li {
    width: 33%;
  }
  .pagehead .nav-collapse ul li.phonecall {
    width: 100%;
    clear: both;
  }
}
.lt-ie9 .pagehead .nav-collapse ul li {
  width: auto;
  margin: 0 1%;
}
.lt-ie9 .pagehead .nav-collapse ul li small a {
  font-size: 0.9375em;
  display: inline;
}
@media screen and (min-width: 960px) {
  .pagehead .nav-collapse ul li {
    width: auto;
    margin: 0 1%;
  }
  .pagehead .nav-collapse ul li small a {
    font-size: 0.9375em;
    display: inline;
  }
}
.pagehead .nav-collapse ul li a {
  font-size: 0.9375em;
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-weight: thin;
  letter-spacing: 1px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
}
.pagehead .nav-collapse ul li a:hover, .pagehead .nav-collapse ul li a:active {
  color: #fff;
  background-color: rgba(195, 0, 22, 0.7);
}
.lt-ie9 .pagehead .nav-collapse {
  width: 70%;
  margin: 15px 0 0 0;
  padding: 0;
  clear: none;
  background-color: transparent;
  float: right;
  padding-bottom: 0;
}
.lt-ie9 .pagehead .nav-collapse small {
  text-align: right;
  font-size: 0.75em;
  margin-right: 5px;
}
.lt-ie9 .pagehead .nav-collapse ul li a {
  margin-top: 5px;
}
@media screen and (min-width: 960px) {
  .pagehead .nav-collapse {
    width: 70%;
    margin: 15px 0 0 0;
    padding: 0;
    clear: none;
    background-color: transparent;
    float: right;
    padding-bottom: 0;
  }
  .pagehead .nav-collapse small {
    text-align: right;
    font-size: 0.75em;
    margin-right: 5px;
  }
  .pagehead .nav-collapse ul li a {
    margin-top: 5px;
  }
}

.lt-ie9 #about-us {
  padding-top: 75px;
  position: relative;
  top: -30px;
}
@media screen and (min-width: 960px) {
  #about-us {
    padding-top: 75px;
    position: relative;
    top: -30px;
  }
}

.logomark {
  width: 100px;
  float: left;
  position: absolute;
  left: -62px;
  top: -1px;
}
.logomark a {
  display: block;
  padding: 5px;
  padding-right: 7px;
}
.logomark img {
  max-width: 100%;
}

.banner {
  background-color: rgba(195, 0, 22, 0.95);
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 100;
  display: none;
  font-size: 12px;
}
.lt-ie9 .banner {
  display: block;
}
@media screen and (min-width: 960px) {
  .banner {
    display: block;
  }
}
.banner .row {
  padding-top: 0;
  padding-bottom: 0;
}
.banner ul {
  float: left;
  border-left: 1px solid #fff;
}
.banner ul li {
  float: left;
}

.banner li a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
}

.banner a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.banner--clone {
  /* Required styles */
  position: fixed;
  top: 0;
  left: 0;
  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.banner--stick {
  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.main-cover {
  background-image: url(../../media/default.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  overflow: hidden;
  min-height: 350px;
  position: relative;
  margin-bottom: 30px;
  border-top: 5px solid #c30016;
  background-repeat: no-repeat;
}
.lt-ie9 .main-cover {
  min-height: 400px;
}
@media screen and (min-width: 420px) {
  .main-cover {
    min-height: 400px;
  }
}
.lt-ie9 .main-cover {
  min-height: 700px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}
@media screen and (min-width: 960px) {
  .main-cover {
    min-height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }
}
.lt-ie9 .main-cover {
  background-size: 1500px;
}
@media screen and (min-width: 1500px) {
  .main-cover {
    background-size: 1500px;
  }
}

.lt-ie9 .is-cms .main-cover {
  background-attachment: scroll;
}
@media screen and (min-width: 420px) {
  .is-cms .main-cover {
    background-attachment: scroll;
  }
}

.hero-headline {
  color: #fff;
  display: inline-block;
  display: none;
  padding: 15px;
  font-weight: lighter;
  font-family: 'Helvetica Neue', Helvetica, 'Futura', Arial, sans-serif;
  font-size: 1.5625em;
  letter-spacing: 1px;
  position: relative;
  top: 165px;
  text-shadow: 0 0 5px #000;
  background-color: rgba(195, 0, 22, 0.7);
}
.lt-ie9 .hero-headline {
  font-size: 2.8125em;
  top: 260px;
}
@media screen and (min-width: 960px) {
  .hero-headline {
    font-size: 2.8125em;
    top: 260px;
  }
}
.hero-headline:before {
  content: "";
  position: absolute;
  background: rgba(195, 0, 22, 0.7);
  /* Match the background */
  top: 0;
  bottom: 0;
  width: 9999px;
  /* some huge width */
}
.hero-headline:before {
  right: 100%;
}

.editable-gallery .fancybox {
  width: 40%;
  margin-bottom: 10px;
}
.lt-ie9 .editable-gallery .fancybox {
  width: 20%;
}
@media screen and (min-width: 600px) {
  .editable-gallery .fancybox {
    width: 20%;
  }
}
.editable-gallery a {
  display: inline-block;
}
.editable-gallery a img {
  max-width: 100%;
}

.tiles {
  display: none;
  position: relative;
}
.lt-ie9 .tiles {
  display: block;
  margin-top: -250px;
}
@media screen and (min-width: 960px) {
  .tiles {
    display: block;
    margin-top: -250px;
  }
}

.tile {
  position: absolute;
}
.tile.tile-1 {
  top: 0px;
  left: 120px;
  z-index: 1;
}
.tile.tile-2 {
  top: 100px;
  left: 36px;
}
.tile.tile-3 {
  top: 60px;
  left: 180px;
}
.tile.tile-4 {
  top: 240px;
  left: 170px;
}
.tile.tile-5 {
  top: 290px;
  left: 33px;
}
.tile.tile-6 {
  top: 430px;
  left: 190px;
}
.tile.tile-7 {
  top: 490px;
  left: 65px;
}
.tile.tile-8 {
  top: 550px;
  left: 100px;
}

.tile-ani1 {
  position: relative;
  animation-name: ani1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  /* Firefox: */
  -moz-animation-name: ani1;
  -moz-animation-duration: 3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-play-state: running;
  /* Safari and Chrome: */
  -webkit-animation-name: ani1;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

@keyframes ani1 {
  0% {
    top: 0px;
  }
  100% {
    top: 10px;
  }
}
@-moz-keyframes ani1 /* Firefox */ {
  0% {
    top: 0px;
  }
  100% {
    top: 10px;
  }
}
@-webkit-keyframes ani1 /* Safari and Chrome */ {
  0% {
    top: 0px;
  }
  100% {
    top: 10px;
  }
}
.tile-ani2 {
  position: relative;
  animation-name: ani2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  /* Firefox: */
  -moz-animation-name: ani2;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-play-state: running;
  /* Safari and Chrome: */
  -webkit-animation-name: ani2;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

@keyframes ani2 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 5px;
  }
}
@-moz-keyframes ani2 /* Firefox */ {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 5px;
  }
}
@-webkit-keyframes ani2 /* Safari and Chrome */ {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 5px;
  }
}
.tile-ani3 {
  position: relative;
  animation-name: ani3;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
  /* Firefox: */
  -moz-animation-name: ani3;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -moz-animation-play-state: running;
  /* Safari and Chrome: */
  -webkit-animation-name: ani3;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}

@keyframes ani3 {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 7px;
  }
}
@-moz-keyframes ani3 /* Firefox */ {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 7px;
  }
}
@-webkit-keyframes ani3 /* Safari and Chrome */ {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 7px;
  }
}
/*   END tile ANIMATIONS  */
.btn {
  color: #fff;
  display: inline-block;
  padding: 10px;
  background-color: #c30016;
  position: relative;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-transform: uppercase;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.btn:after {
  content: "";
  background-color: #ccc;
  position: absolute;
  z-index: -1;
  top: -5px;
  left: -5px;
  bottom: 5px;
  right: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.btn:hover {
  color: #fff;
  top: -5px;
  left: -5px;
}
.btn:hover:after {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.typeset p {
  margin-bottom: 25px;
}
.typeset ul, .typeset ol {
  margin-left: 15px;
}
.typeset img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.lt-ie9 .typeset img {
  margin: 0 0 30px 0;
  clear: both;
  width: 100%;
}
@media screen and (min-width: 420px) {
  .typeset img {
    margin: 0 0 30px 0;
    clear: both;
    width: 100%;
  }
}
.typeset .full-width {
  margin: 0 0 30px 0;
  clear: both;
  width: 100%;
}
.lt-ie9 .typeset .right {
  float: right;
  margin: 0 0 15px 30px;
  width: 40%;
}
@media screen and (min-width: 420px) {
  .typeset .right {
    float: right;
    margin: 0 0 15px 30px;
    width: 40%;
  }
}
.lt-ie9 .typeset .left {
  float: left;
  margin: 0 30px 15px 0;
  width: 40%;
}
@media screen and (min-width: 420px) {
  .typeset .left {
    float: left;
    margin: 0 30px 15px 0;
    width: 40%;
  }
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom-width: 8px;
  color: #000;
  font-size: 26px;
}
blockquote .quote {
  font-size: 0.5625em;
  font-style: italic !important;
}
blockquote .quote:before {
  content: "“";
  font-size: 1.25em;
  font-weight: bold;
}
blockquote .quote:after {
  content: "”";
  font-size: 1.25em;
  font-weight: bold;
}
blockquote .source {
  color: #c30016;
  font-size: 0.5em;
  margin-top: 10px;
}

.row {
  padding-top: 35px;
  padding-bottom: 20px;
}

.remodal .row {
  padding: 0;
  width: 100%;
  min-width: 100%;
}
.remodal h1 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  font-size: 32px !important;
  padding-right: 45px;
}
.remodal h4 {
  font-size: 24px !important;
}
.remodal p {
  padding-bottom: 10px;
}

.typeset ul.acc {
  margin-left: 0;
}
.typeset ul.acc li {
  background-color: #e1e1e1;
}

.acc li {
  list-style-type: none;
}

.acc li .acc-head {
  cursor: pointer;
  position: relative;
  padding: 20px;
}

.acc li .acc-head i {
  position: absolute;
  top: 22px;
  right: 15px;
}

.acc-panel {
  padding: 0px 20px 10px;
}

.portfolio-window {
  overflow: hidden;
  position: relative;
}

.controllers {
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  display: none;
}
.lt-ie9 .controllers {
  display: block;
}
@media screen and (min-width: 960px) {
  .controllers {
    display: block;
  }
}
.controllers:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.controllers:hover:after {
  font-size: 5em;
  color: #c30016;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
}
.controllers.prev {
  left: 0;
}
.controllers.prev:hover:after {
  content: "«";
}
.controllers.next {
  right: 0;
}
.controllers.next:hover:after {
  content: "»";
}

#our-portfolio {
  padding-top: 60px;
}

#testimonials {
  padding-top: 60px;
}

#current-projects {
  padding-top: 60px;
  padding-bottom: 40px;
}
#current-projects .btn {
  font-size: 0.625em;
}
#current-projects .next-prev .next, #current-projects .next-prev .prev {
  font-size: 1.875em;
  margin-top: -10px;
  position: absolute;
  right: 0;
  top: 0;
}
#current-projects .next-prev .prev {
  right: 25px;
}

#descript1, #descript2 {
  position: relative;
}
#descript1 h5, #descript2 h5 {
  max-width: 80%;
}

.next-prev .next, .next-prev .prev {
  display: none;
  font-size: 2.5em;
  color: #c30016;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
  margin: 0;
}
.lt-ie9 .next-prev .next, .lt-ie9 .next-prev .prev {
  display: inline-block;
}
@media screen and (min-width: 420px) {
  .next-prev .next, .next-prev .prev {
    display: inline-block;
  }
}
.next-prev .next:hover, .next-prev .prev:hover {
  color: #f6001c;
}

#current1, #current2 {
  max-height: 350px;
  overflow: hidden;
}
.lt-ie9 #current1, .lt-ie9 #current2 {
  margin-bottom: 25px;
}
@media screen and (min-width: 420px) {
  #current1, #current2 {
    margin-bottom: 25px;
  }
}

.project {
  overflow: hidden;
  position: relative;
}
.project .controllers {
  top: -15px;
}

#description-1, #description-2 {
  margin-bottom: 25px;
}

.review {
  margin-bottom: 20px;
}
.review h1 {
  font-size: 20px;
  color: #c30016;
}
.review h2 {
  text-transform: normal;
  margin-bottom: 10px;
}

.btn-wrap {
  margin-bottom: 20px;
}
.lt-ie9 .btn-wrap {
  margin-bottom: 50px;
}
.lt-ie9 .btn-wrap:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 960px) {
  .btn-wrap {
    margin-bottom: 50px;
  }
  .btn-wrap:last-of-type {
    margin-bottom: 0;
  }
}

.greybg {
  background-color: #e6e6e6;
}

.redbg {
  background-color: #c30016;
  background-image: url("../img/darkcut-p.png");
  background-size: 100%;
  background-position: center center;
}

.contact-details {
  text-align: center;
  color: #fff;
}
.lt-ie9 .contact-details {
  text-align: right;
}
@media screen and (min-width: 960px) {
  .contact-details {
    text-align: right;
  }
}
.contact-details a {
  color: #fff;
}
.contact-details a:hover, .contact-details a:focus, .contact-details a:active {
  color: #e6e6e6;
}

.footer-logo {
  max-width: 250px;
  margin: 0 auto 20px;
  display: inherit;
}

#clients {
  padding-top: 30px;
}

.client {
  position: relative;
}
.lt-ie9 .client {
  overflow: hidden;
  max-height: 630px;
}
.lt-ie9 .client h1 {
  z-index: 5;
  position: relative;
}
.lt-ie9 .client .parallax-item {
  position: relative;
}
.lt-ie9 .client .parallax-item img.colab {
  margin-top: 130px;
}
.lt-ie9 .client .parallax-item img.building {
  margin-top: 150px;
}
@media screen and (min-width: 960px) {
  .client {
    overflow: hidden;
    max-height: 630px;
  }
  .client h1 {
    z-index: 5;
    position: relative;
  }
  .client .parallax-item {
    position: relative;
  }
  .client .parallax-item img.colab {
    margin-top: 130px;
  }
  .client .parallax-item img.building {
    margin-top: 150px;
  }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  max-height: 620px;
}
.swipe img {
  width: 100%;
}

.swipe-wrap {
  margin: 0 !important;
  overflow: hidden;
  position: relative;
}

.swipe-wrap > li {
  float: left;
  width: 100%;
  position: relative;
}

.swipe-wrap li {
  display: block;
}

.swipe-wrap > a {
  float: left;
  width: 100%;
  position: relative;
}

.swipe-wrap a {
  display: block;
}

.is-cms .parallax-item #client-image {
  margin-top: 0 !important;
}

.is-cms .remodal-overlay {
  opacity: 1 !important;
  display: block !important;
  position: static !important;
}

.section-head {
  font-size: 1.625em;
  color: #000;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
.font-body, body {
  font-family: Helvetica, 'Helvetica', sans-serif, sans-serif;
}

.sans, .pagehead .nav-collapse ul li a {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, .headline, h3, h4, h5, h6, .btn, .futura {
  font-family: 'Futura', 'Helvetica', Helvetica, Arial, sans-serif;
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

strong, b {
  font-weight: 700;
}

em, i, q {
  font-style: italic;
}

label, legend, select {
  display: block;
  padding: 10px 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input, textarea {
  width: 100%;
  border: 0;
  background: #e1e1e1;
  box-shadow: none;
  padding: 10px;
  outline: 0;
  margin-bottom: 15px;
}
input:focus, textarea:focus {
  outline: 1px solid #c30016;
}

form button {
  color: #fff;
  background-color: #c30016;
  margin: 10px 0;
  padding: 10px;
}
form .btn {
  background-color: #c30016;
  color: #fff;
}

.row, .gutter-grid {
  *zoom: 1;
}
.row:after, .gutter-grid:after {
  content: "";
  display: table;
  clear: both;
}

.as-heading__headline, .typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .typeset h1 {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__large, .typeset h2 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__medium, .typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 0.9375em;
  line-height: 1.4666667em;
}

.as-heading__headline--typeset, .typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .typeset p {
  margin: 0 0 0.5866667em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .typeset ol, .typeset ul, .typeset li {
  margin: 0 0 0.5866667em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .typeset ol, .typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: disc;
}

.as-ordered-list--typeset, .typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .typeset blockquote {
  margin: 0.825em 0;
}

.typeset h1, .typeset h2, .typeset .headline {
  text-transform: uppercase;
  color: #000;
}
.typeset h3, .typeset h4, .typeset h5, .typeset h6 {
  color: #c30016;
  font-weight: bold;
}

.row, .gutter-grid {
  *zoom: 1;
}
.row:after, .gutter-grid:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="colspan"] {
  width: 100%;
  display: block;
}

*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .row {
    min-width: 420px;
  }
  .row .colspan2-1 {
    width: 50%;
  }
  .row .colspan2-2 {
    width: 100%;
  }
  .row .push2-1 {
    margin-left: 50%;
  }
  .row .push2-2 {
    margin-left: 100%;
  }
  .row .pull2-1 {
    margin-right: 50%;
  }
  .row .pull2-2 {
    margin-right: 100%;
  }
  .row .push-disable2 {
    margin-left: 0;
  }
  .row .pull-disable2 {
    margin-right: 0;
  }
  .row .hide-at2 {
    display: none;
  }
  .row .block-show-at2 {
    display: block;
  }
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  .row .colspan6-1 {
    width: 16.6666667%;
  }
  .row .colspan6-2 {
    width: 33.3333333%;
  }
  .row .colspan6-3 {
    width: 50%;
  }
  .row .colspan6-4 {
    width: 66.6666667%;
  }
  .row .colspan6-5 {
    width: 83.3333333%;
  }
  .row .colspan6-6 {
    width: 100%;
  }
  .row .push6-1 {
    margin-left: 16.6666667%;
  }
  .row .push6-2 {
    margin-left: 33.3333333%;
  }
  .row .push6-3 {
    margin-left: 50%;
  }
  .row .push6-4 {
    margin-left: 66.6666667%;
  }
  .row .push6-5 {
    margin-left: 83.3333333%;
  }
  .row .push6-6 {
    margin-left: 100%;
  }
  .row .pull6-1 {
    margin-right: 16.6666667%;
  }
  .row .pull6-2 {
    margin-right: 33.3333333%;
  }
  .row .pull6-3 {
    margin-right: 50%;
  }
  .row .pull6-4 {
    margin-right: 66.6666667%;
  }
  .row .pull6-5 {
    margin-right: 83.3333333%;
  }
  .row .pull6-6 {
    margin-right: 100%;
  }
  .row .push-disable6 {
    margin-left: 0;
  }
  .row .pull-disable6 {
    margin-right: 0;
  }
  .row .hide-at6 {
    display: none;
  }
  .row .block-show-at6 {
    display: block;
  }
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 960px) {
  .row {
    min-width: 960px;
  }
  .row .colspan8-1 {
    width: 12.5%;
  }
  .row .colspan8-2 {
    width: 25%;
  }
  .row .colspan8-3 {
    width: 37.5%;
  }
  .row .colspan8-4 {
    width: 50%;
  }
  .row .colspan8-5 {
    width: 62.5%;
  }
  .row .colspan8-6 {
    width: 75%;
  }
  .row .colspan8-7 {
    width: 87.5%;
  }
  .row .colspan8-8 {
    width: 100%;
  }
  .row .push8-1 {
    margin-left: 12.5%;
  }
  .row .push8-2 {
    margin-left: 25%;
  }
  .row .push8-3 {
    margin-left: 37.5%;
  }
  .row .push8-4 {
    margin-left: 50%;
  }
  .row .push8-5 {
    margin-left: 62.5%;
  }
  .row .push8-6 {
    margin-left: 75%;
  }
  .row .push8-7 {
    margin-left: 87.5%;
  }
  .row .push8-8 {
    margin-left: 100%;
  }
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  .row .pull8-2 {
    margin-right: 25%;
  }
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  .row .pull8-4 {
    margin-right: 50%;
  }
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  .row .pull8-6 {
    margin-right: 75%;
  }
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  .row .pull8-8 {
    margin-right: 100%;
  }
  .row .push-disable8 {
    margin-left: 0;
  }
  .row .pull-disable8 {
    margin-right: 0;
  }
  .row .hide-at8 {
    display: none;
  }
  .row .block-show-at8 {
    display: block;
  }
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 960px) {
  .row {
    min-width: 960px;
  }
  .row .colspan12-1 {
    width: 8.3333333%;
  }
  .row .colspan12-2 {
    width: 16.6666667%;
  }
  .row .colspan12-3 {
    width: 25%;
  }
  .row .colspan12-4 {
    width: 33.3333333%;
  }
  .row .colspan12-5 {
    width: 41.6666667%;
  }
  .row .colspan12-6 {
    width: 50%;
  }
  .row .colspan12-7 {
    width: 58.3333333%;
  }
  .row .colspan12-8 {
    width: 66.6666667%;
  }
  .row .colspan12-9 {
    width: 75%;
  }
  .row .colspan12-10 {
    width: 83.3333333%;
  }
  .row .colspan12-11 {
    width: 91.6666667%;
  }
  .row .colspan12-12 {
    width: 100%;
  }
  .row .push12-1 {
    margin-left: 8.3333333%;
  }
  .row .push12-2 {
    margin-left: 16.6666667%;
  }
  .row .push12-3 {
    margin-left: 25%;
  }
  .row .push12-4 {
    margin-left: 33.3333333%;
  }
  .row .push12-5 {
    margin-left: 41.6666667%;
  }
  .row .push12-6 {
    margin-left: 50%;
  }
  .row .push12-7 {
    margin-left: 58.3333333%;
  }
  .row .push12-8 {
    margin-left: 66.6666667%;
  }
  .row .push12-9 {
    margin-left: 75%;
  }
  .row .push12-10 {
    margin-left: 83.3333333%;
  }
  .row .push12-11 {
    margin-left: 91.6666667%;
  }
  .row .push12-12 {
    margin-left: 100%;
  }
  .row .pull12-1 {
    margin-right: 8.3333333%;
  }
  .row .pull12-2 {
    margin-right: 16.6666667%;
  }
  .row .pull12-3 {
    margin-right: 25%;
  }
  .row .pull12-4 {
    margin-right: 33.3333333%;
  }
  .row .pull12-5 {
    margin-right: 41.6666667%;
  }
  .row .pull12-6 {
    margin-right: 50%;
  }
  .row .pull12-7 {
    margin-right: 58.3333333%;
  }
  .row .pull12-8 {
    margin-right: 66.6666667%;
  }
  .row .pull12-9 {
    margin-right: 75%;
  }
  .row .pull12-10 {
    margin-right: 83.3333333%;
  }
  .row .pull12-11 {
    margin-right: 91.6666667%;
  }
  .row .pull12-12 {
    margin-right: 100%;
  }
  .row .push-disable12 {
    margin-left: 0;
  }
  .row .pull-disable12 {
    margin-right: 0;
  }
  .row .hide-at12 {
    display: none;
  }
  .row .block-show-at12 {
    display: block;
  }
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 960px) {
  .row {
    width: 960px;
  }
}
.lt-ie9 .row {
  width: 960px;
}
.lt-ie9 .row .colspan12-1 {
  width: 8.3333333%;
}
.lt-ie9 .row .colspan12-2 {
  width: 16.6666667%;
}
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
.lt-ie9 .row .colspan12-4 {
  width: 33.3333333%;
}
.lt-ie9 .row .colspan12-5 {
  width: 41.6666667%;
}
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
.lt-ie9 .row .colspan12-7 {
  width: 58.3333333%;
}
.lt-ie9 .row .colspan12-8 {
  width: 66.6666667%;
}
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
.lt-ie9 .row .colspan12-10 {
  width: 83.3333333%;
}
.lt-ie9 .row .colspan12-11 {
  width: 91.6666667%;
}
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
.lt-ie9 .row .push12-1 {
  margin-left: 8.3333333%;
}
.lt-ie9 .row .push12-2 {
  margin-left: 16.6666667%;
}
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
.lt-ie9 .row .push12-4 {
  margin-left: 33.3333333%;
}
.lt-ie9 .row .push12-5 {
  margin-left: 41.6666667%;
}
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
.lt-ie9 .row .push12-7 {
  margin-left: 58.3333333%;
}
.lt-ie9 .row .push12-8 {
  margin-left: 66.6666667%;
}
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
.lt-ie9 .row .push12-10 {
  margin-left: 83.3333333%;
}
.lt-ie9 .row .push12-11 {
  margin-left: 91.6666667%;
}
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
.lt-ie9 .row .pull12-1 {
  margin-right: 8.3333333%;
}
.lt-ie9 .row .pull12-2 {
  margin-right: 16.6666667%;
}
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
.lt-ie9 .row .pull12-4 {
  margin-right: 33.3333333%;
}
.lt-ie9 .row .pull12-5 {
  margin-right: 41.6666667%;
}
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
.lt-ie9 .row .pull12-7 {
  margin-right: 58.3333333%;
}
.lt-ie9 .row .pull12-8 {
  margin-right: 66.6666667%;
}
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
.lt-ie9 .row .pull12-10 {
  margin-right: 83.3333333%;
}
.lt-ie9 .row .pull12-11 {
  margin-right: 91.6666667%;
}
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
.lt-ie9 .row .hide-at12 {
  display: none;
}
.lt-ie9 .row .block-show-at12 {
  display: block;
}
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

.gutter-grid {
  position: relative;
}
.lt-ie9 .gutter-grid {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  .gutter-grid {
    min-width: 103%;
    left: -3%;
  }
}
.lt-ie9 .gutter-grid {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
